table {
    width: 90% ;
    margin: 20px ;
   
    text-align: center;
}

th{
   background-color:rgba(41, 134, 226, 0.7);
   /*font-weight: normal;*/
   color: white;
}
td {
    border-style: inset;
    border-width: 1px;
    border-color: #535353 !important; 
    border-top: white;
    border-left: white;
    border-right: white;
}